@charset "UTF-8";
@font-face {
    font-family: idroid;
    src: url(fontes/idroid.otf) format("opentype");
}
@font-face {
    font-family: 'bebas';
    src: url('fontes/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

header {
    background-image: linear-gradient(to bottom, rgb(81, 151, 81), rgb(2, 65, 2));
    color: white;
    padding: 1em;
    padding-bottom: 30px;
    text-align: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
}

header h1 {
    font-size: 3em;
    font-family: 'bebas', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
    
}

header p {
    font-family: 'bebas', 'Segoe UI', sans-serif;
    margin: -20px 0px 20px 0px;
    text-shadow: 1px 1px 2px black;
}

body {
    margin: 0;
    font-size: 16px;
}

nav {
    display: flex;
    justify-content: left;
    margin: 15px 0px -30px -20px;
    padding: 0%;
}

nav a {
    color: white;
    text-decoration: none;
    font-family: 'Arial', sans-serif;
    padding: 8px 14px;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    left: 50%;
    bottom: 1px;
    transition: width 0.3s ease, left 0.3s ease;
}

nav a:hover::after {
    width: 100%;
    left: 0;
}

body {
    background-color: rgb(150, 228, 160);
}

main {
    width: 80%;
    justify-content: center;
    gap: 2em;
    padding: 20px;
    background-color: white;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-indent: 25px;
}

main h1{
    font-family: 'idroid', sans-serif;
    color: rgb(2, 65, 2);
}

main h2 {
    font-family: 'idroid', sans-serif;
    color: rgb(2, 65, 2);
    background-image: linear-gradient(to right, rgba(172, 240, 172, 0.4), white );
}

main mark {
    background-color: transparent;
    color: rgb(2, 65, 2);
    font-weight: bold;
}

main a {
    color: rgb(2, 65, 2);
    text-decoration: none;
    font-weight: bold;
}

main a::after {
  content: "🔗";
}

main picture {
    display: block;
    width: 100%;
    margin: 20px auto;
}

main picture img,
main img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 20px auto;
}
#video {
    background-color: rgb(2, 65, 2);
    padding: 10px;
    border-radius: 0;
}
main p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    color: rgb(0, 0, 0);
}

div#video {
    display: block;
    background-color: rgb(2, 65, 2);
    padding: 1em;
    border: none;
    margin: 0px -20px;
    
}
div#video > iframe {
    display: block;
    width: 100%;
    height: 315px;
    border: none;
}

div#curiosidades {
    width: 95%;
    justify-content: center;
    background-color: rgb(206, 242, 222);
    color: white;
    padding: 1em;
    margin: 10px auto;
    border-radius: 15px;
    border-top: 40px solid rgb(50, 166, 100);
}

div#curiosidades h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    margin-top: -48px;
    margin-left: -24px;
   
}

div#curiosidades ul {
    list-style: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
    columns: 2;
    column-gap: 3em;
    justify-content: center;
}

ul li::before{
    content: "✔";
}

footer {
    background-color: rgb(2, 65, 2);
    color: white;
    text-align: center;
    padding: 6px;
    margin-top: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
